body, html{
    background-color: #100E1B;
    color: #ededed;
    margin: 0;
    padding: 0;
    font-family: "EB Garamond";
}
h1{
    color: #8D86C9;
    animation-duration: 5s;
    animation-name: showing;
    font-family: "Science Gothic";
}
h1, p{
    margin: 0;
}
a{
     font-family: "Science Gothic";
}
#page-list{
    display: flex;
    justify-content:flex-start;
    gap: 1vw;
    list-style-type: none;
}
#page-list li{
    background-color: #725AC1;
    border: 1px solid #8D86C9;
    border-radius: 5px;
    padding: 1px 9px;
}
#page-list a{
    color: #ededed;
    text-decoration: none;
    font-size: 1.2rem;
}
#page-list li:hover{
    background-color: #8D86C9;
}
#content{
    text-align: left;
    margin-top: 25vh;
    font-size: 1.2rem;
}
#main-article{
    width: 50vw;
    margin: auto;
}
#top-header ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}
#top-header a{
    color: #CAC4CE;
    text-decoration: none;
    list-style-type: none;
}
i{
    margin-top: 5vh;
}
/* Project css session*/
#projects{
    display: flex;
    justify-content: center;
    gap: 2vh;
}
#projects .card{
    background-color: #725AC1;
    width: 30vw;
    border: 2px #100E1B solid;
    border-radius: 9px;
    animation-name: showing;
    animation-duration: 5s;
}
.card h2{
    color: #CAC4CE;
    background-color: #100E1B;
    text-align: center;
}
.card p{
    color: #CAC4CE;
    text-align: left;
}
.card a{
    color: #100E1B;
    font-size: 1.9rem;
    text-decoration: none;
    text-align: center;
}

@keyframes showing{
    from{
        opacity: 0;
        color: #2b1414;
    }
}
/* Mobile session */

@media(max-width: 475px){
    #main-article{
    width: 90vw;
}
    #page-list{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}
    #projects{
        flex-direction: column;
        align-items: center;
    }
    #projects .card{
        width: 90vw;
    }
}